body {
    font-family: 微軟正黑體;
}

.header {
    background-image: url("../img/bg3.jpg");
}

.header .text-vertical-center {
    padding-left: 18%;
    padding-right: 18%;
}

.header h1 {
    text-shadow: 2px 2px 3px #d0eefa;
}

.about .jumbotron {
    border-radius: 3px;
    background-color: #6fc3f1;
    text-align: center;
}

.form-group row button {
    background-color: #6fc3f1;
}

.about .jumbotron h1 {
    color: white;
}

.about .jumbotron .lead {
    color: white;
    opacity: 50%;
}

.col-md-4 {
    padding-left: 8%;
    padding-right: 8%;
}

.btn-primary {
    color: #fff;
    background-color: #6fc3f1;
    border-color: #338ede;
}

#emoji_ {
    vertical-align: center;
    text-align: center;
    margin: auto;
    padding: 10%;
}